<!DOCTYPE html>
<html>
<head>
    <title>OST One-pager</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/apollo-client-browser@1.9.0"></script>
    <script src="https://unpkg.com/vue-apollo@2.1.0-beta.19"></script>
</head>

<body>
<!-- App -->
<div id="app">
    <div class="page-title">
        <h1>OST Users</h1>
    </div>
    <div>
        <div v-if="loading" class="loading">Loading...</div>
        <div class="user" v-for="user in listOstUsers.users">
            <div class="name">{{ user.name }}</div>
            <div class="id">{{ user.id }}</div>
        </div>
    </div>
</div>

<script>
    const apolloClient = new Apollo.lib.ApolloClient({
        networkInterface: Apollo.lib.createNetworkInterface({
            // ADD YOUR GRAPHQL ENDPOINT HERE !!! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            uri: 'http://localhost:3000/graphql',
            transportBatching: true,
        }),
        connectToDevTools: true,
    })

    const apolloProvider = new VueApollo.ApolloProvider({
        defaultClient: apolloClient,
    })

    const USERS_QUERY = Apollo.gql`
         {
          listOstUsers{
            users {
              name
              token_balance
              id
            }
          }
        }
        `;

    // New VueJS instance
    const app = new Vue({
        el: '#app',
        data: {
            listOstUsers: [''],
            loading: 0,
        },
        // Apollo GraphQL (queries go here)
        apolloProvider,
        apollo: {
            listOstUsers: {
                query: USERS_QUERY,
                loadingKey: 'loading',
            },
        },
    })


</script>
<style>
    body {font-family: sans-serif;}
    .page-title {
        display: flex;
        flex-flow: column;
        width: 100%;
        margin-top: 25px;
        font-size: 2.2rem;
        text-align: center;
        letter-spacing: -0.2rem;
    }
    .user {
        margin: 2rem;
        background: whitesmoke;
        border-radius: 15px;
        padding: 15px;
    }
    .name {
        font-weight: bold;
        font-size: 2rem;
    }
</style>
</body>
</html>
